<%= form_with(model: task) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, values: Task::STATUSES %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
